<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>营销线索检索与推送-营销线索平台</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/page/data-list.css">
</head>
<body>
    <div class="containers data-list" id="datalist">
        <div class="header">
            <div class="logo">
                <img src="images/logo.png"/>
                <div class="logo-title">营销线索管理平台</div>
            </div>
            <div class="logout" onclick="logout()">
                <a href="javascript:void(0)" title="退出登录"></a>
            </div>
            <div class="user-setting">
                <span class="icon-setting" title="个人设置"></span>
                <div class="user-setting-list">
                    <ul>
                        <li>
                            <a href="history.html">
                                <span class="user-success"></span>
                                <span class="user-font">推送成功</span>
                            </a>
                        </li>
                        <li>
                            <a href="history_failed.html">
                                <span class="user-failed"></span>
                                <span class="user-font">推送失败</span>
                            </a>
                        </li>
                        <li>
                            <a href="setting.html">
                                <span class="user-password"></span>
                                <span class="user-font">密码修改</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user-info">
                <div class="user-info-inner">
                    <span class="user-icon"></span>
                    <span class="user-name">{{username}}</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="main">
                <div class="main-search">
                    <div class="search-top">
                        <div class="search-input" id="keywords">
                            <div class="input-text">
                                <div class="input-drop">
                                    <span data-code="extra" data-scode="全文" >全文检索</span><span class="drop-down"></span>
                                    <ul>
                                        <li data-code="extra" data-scode="全文"><p>全文检索</p><p class="drop-up"></p></li>
                                        <li data-code="companyName" data-scode="名称"><p>企业名称</p></li>
                                        <li data-code="address" data-scode="地址"><p>详细地址</p></li>
                                        <li data-code="jobName" data-scode="职位"><p>职位名称</p></li>
                                        <li data-code="comintro" data-scode="简介"><p>企业简介</p></li>
                                    </ul>
                                </div>
                                <div class="input-txt">
                                    <input type="text" class="txt-com" placeholder="请输入关键字" value="" id="search-txt">
                                    <span class="icon-search"></span>
                                </div>
                            </div>
                            <button type="button" class="btn-com" v-on:click="searchByKeywords()" id="key-search">查询</button>
                        </div>
                        <!--<div class="msg-info">tips:所有条件均可多选</div>-->
                    </div>
                    <div class="search-bottom">
                        <div class="search-bottom-main">
                            <ul class="main-list">
                                <li id="province">
                                    <span class="item-title">省市：</span><span class="item-more"></span>
                                    <span class="item-list">
                                        <a href="javascript:void(0)" v-on:click="searchSelect('0','province')" class="current" name="all">不限</a>
                                        <a href="javascript:void(0)" v-for="(value,key) in provinceMap" v-on:click="searchSelect(value.id,'province')" v-bind:data-id="value.id">{{value.name}}</a>
                                    </span>
                                </li>
                                <li id="city" style="display: none;">
                                    <span class="item-title">地区：</span><span class="item-more" v-if="cityMap.length>1"></span>
                                    <span class="item-list">
                                        <span class="item-list-item" v-for="(value,key) in cityMap" v-bind:id="value.code">
                                            <a href="javascript:void(0)" v-on:click="searchSelect('0','city',value.code)" class="current" name="all">{{value.name}}全部</a>
                                            <a href="javascript:void(0)"  v-for="(lvalue,lkey) in value.list" v-on:click="searchSelect(lvalue.id,'city',value.code)" v-bind:data-id="lvalue.id">{{lvalue.name}}</a>
                                        </span>
                                    </span>
                                </li>
                                <li id="vocation">
                                    <span class="item-title">行业：</span><span class="item-more"></span>
                                    <span class="item-list">
                                        <a href="javascript:void(0)" v-on:click="searchSelect('0','vocation')" class="current" name="all">不限</a>
                                        <a href="javascript:void(0)" v-for="(value,key) in vocationMap"  v-on:click="searchSelect(value.vocationCode,'vocation')" v-bind:data-id="value.vocationCode">{{value.vocationName}}</a>
                                    </span>
                                </li>
                                <li id="size">
                                    <span class="item-title">规模：</span>
                                    <span class="item-list">
                                        <a href="javascript:void(0)"  v-on:click="searchSelect('0','size')" class="current" name="all">不限</a>
                                        <a href="javascript:void(0)" v-for="(value,key) in sizeMap"  v-on:click="searchSelect(value.id,'size')" v-bind:data-id="value.id">{{value.name}}</a>
                                    </span>
                                </li>
                                <li id="website">
                                    <span class="item-title">来源：</span>
                                    <span class="item-list">
                                        <a href="javascript:void(0)" v-on:click="searchSelect('0','website')" class="current" name="all">不限</a>
                                        <a href="javascript:void(0)" v-for="(value,key) in websiteMap" v-on:click="searchSelect(value.id,'website')" v-bind:data-id="value.id">{{value.name}}</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="item-title">其他：</span>
                                    <span class="item-list">
                                        <a v-bind:class={"check-item":"true","current":isHavePhone} v-on:click="searchCheck(1)"><span class="icon"><span v-bind:class="{checked:isHavePhone}"></span></span><span class="font">有手机号码</span></a>
                                        <a v-bind:class={"check-item":"true","current":isRecruitment} v-on:click="searchCheck(2)"><span class="icon"><span v-bind:class="{checked:isRecruitment}"></span></span><span class="font">有销售招聘信息</span></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="more"><span>显示更多选项</span><span class="down"></span></div>
                    </div>
                    <div class="search-content" style="display: none;">
                        <span class="content-title">已选条件：</span>
                        <ul>
                            <div class="clearfix"></div>
                        </ul>
                        <span class="content-reset" v-on:click="reset()"><span></span><span>重置</span></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="main-msg">
                    <div class="pull-left">查询符合上述条件的营销线索数据<span class="front-blue">{{tableData.totalCount}}</span>条</div>
                    <div class="pull-right">
                        <p>您今天的推送额度：<span class="front-blue">{{pushData.pushedCount}}/{{pushData.pushTotal}}</span></p>
                        <div class="data-progress">
                            <div class="progressing" v-bind:style={"width":pushData.percent}></div>
                        </div>
                    </div>
                </div>
                <div class="main-data">
                    <div class="data-table">
                        <!--列表无数据-->
                        <div class="blank-msg" v-bind:class={"hidden":tableData.list}>对不起，没有找到符合您条件的信息！</div>
                        <!--数据列表-->
                        <table cellpadding="0" cellspacing="0" border="0" v-bind:class={"hidden":!tableData.list} class="table-special">
                            <thead>
                            <tr>
                                <td style="width: 2%;"><a class="check-item" name="list-all"><span class="icon"><span class=""></span></span></a></span></span></td>
                                <td style="width: 20%;">企业名称</td>
                                <td style="width: 24%;">地址</td>
                                <td style="width: 10%;">行业</td>
                                <td style="width: 10%;">规模</td>
                                <td style="width: 10%;">联系人</td>
                                <!--<td style="width: 8%;">职位</td>-->
                                <td style="width: 10%;">电话</td>
                                <td style="width: 8%;">推荐指数<span class="sorts"><span class="s-top" v-on:click="orderBy(true)"></span><span class="s-bottom" v-on:click="orderBy(false)"></span></span></td>
                                <td style="width: 6%;"><span class="opts-title">操作</span></td>
                                <!--<span class="sorts"><span class="s-top"></span><span class="s-bottom current"></span></span>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(value,key) in tableData.list" v-bind:data-id="value.id">
                                <td><a class="check-item" name="list-item" v-bind:data-id="value.id"><span class="icon"><span class=""></span></span></a></td>
                                <td v-bind:title="value.company">{{value.company_show}}</td>
                                <td v-bind:title="value.address">{{value.address_show}}</td>
                                <td v-bind:title="value.vocation">{{value.vocation_show}}</td>
                                <td v-bind:title="value.memberSizeTag">{{value.memberSizeTag_show}}</td>
                                <td v-bind:title="value.name">{{value.name_show}}</td>
                                <td>{{value.mobile}}</td>
                                <td class="f-red">{{value.companyScore}}</td>
                                <td>
                                    <span class="opts">
                                        <a href="javascript:" class="detail" title="查看详情" v-on:click="showDetails(value.id)"></a>
                                        <a href="javascript:" class="push" title="推送" v-on:click="push(value.id)" v-if="pushData.pushedCount<pushData.pushTotal"></a>
                                        <a href="javascript:" class="push" title="推送" v-if="pushData.pushedCount>=pushData.pushTotal" style="cursor:no-drop;"></a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div v-bind:class={"table-opts":"true","hidden":!tableData.list}>
                            <div class="pull-left">
                                <a class="check-item" name="list-all"><span class="icon"><span class=""></span></span><span class="font">全选</span></a>
                            </div>
                            <div class="pull-right">
                                <button type="button" v-on:click="pushAll()" v-if="pushData.pushedCount<pushData.pushTotal">推送</button>
                                <button type="button" v-if="pushData.pushedCount>=pushData.pushTotal" style="cursor:no-drop;">推送</button>
                            </div>
                        </div>
                    </div>
                    <div v-if="tableData.totalPage>1" v-bind:class={"data-pager":"true","hidden":!tableData.list}>
                        <div class="pager-box">
                            <ul>
                                <li v-if="pagers.hasPrev"><a href="javascript:void(0)" v-on:click="prev()">上一页</a></li>
                                <li v-else-if="!pagers.hasPrev"><a class="disabled">上一页</a></li>
                                <li v-for="p in pagers.pagerlist">
                                    <a v-if="p==pagers.index" class="current">{{p}}</a>
                                    <a v-else-if="p!=pagers.index" href="javascript:void(0)" v-on:click="goto(p)">{{p}}</a>
                                </li>
                                <li v-if="pagers.hasNext"><a href="javascript:void(0)" v-on:click="next()">下一页</a></li>
                                <li v-else-if="!pagers.hasNext"><a class="disabled">下一页</a></li>
                            </ul>
                            <span>共{{tableData.totalPage}}页，跳到第</span>
                            <input type="text" value="1" id="go-page">
                            <span>页</span>
                            <button type="button" class="btn-com1" v-on:click="goto()">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside">
                <ul>
                    <li v-if="isHiddenViewMenu==false"><a href="dataview.html"><span class="dataview"></span><p>数据视图</p></a></li>
                    <li v-if="isHiddenStatisticsMenu==false"><a href="statistics.html"><span class="static"></span><p>数据统计</p></a></li>
                    <li class="current" v-if="isHiddenDataMenu==false"><a href="datalist.html"><span class="data"></span><p>检索与推送</p></a></li>
                </ul>
            </div>
        </div>
        <!--modal-->
        <!--modal-alert-->
        <div class="modal fade modal-alert" id="com-alert1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h2>线索数据推送成功</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-com" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="modal fade modal-alert" id="com-alert2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h2>信息提交成功</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn-com" data-dismiss="modal">确定</button>
                    </div>
                </div>
            </div>
        </div>-->
        <!--modal-layer-->
        <div class="modal fade modal-layer" id="com-layer1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">企业详情</h4>
                    </div>
                    <div class="modal-body" v-bind:data-id="Detail.id">
                        <div class="group-inline">
                            <span class="group-title">企业名称：</span>
                            <span class="group-content">{{Detail.company}}<span class="score">{{Detail.companyScore}}分</span></span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">公司地址：</span>
                            <span class="group-content">{{Detail.address}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">联系人：</span>
                            <span class="group-content">{{Detail.name}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">手机：</span>
                            <span class="group-content">{{Detail.mobile}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">电话：</span>
                            <span class="group-content">{{Detail.phone}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">区域：</span>
                            <span class="group-content">{{dataMapProvice[Detail.province]}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">行业：</span>
                            <span class="group-content">{{dataMapVocation[Detail.vocation]}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">规模：</span>
                            <span class="group-content">{{dataMapSize[Detail.memberSizeTag]}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">招聘职位：</span>
                            <span class="group-content">{{Detail.jobName}}</span>
                        </div>
                        <div class="group-inline">
                            <span class="group-title">公司简介：</span>
                            <span class="group-content">{{Detail.memo}}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn-com" v-on:click="push(Detail.id)" v-if="pushData.pushedCount<pushData.pushTotal">推送</button>
                        <button type="button" class="btn-com" v-if="pushData.pushedCount>=pushData.pushTotal" style="cursor:no-drop;">推送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--javascript-->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/json2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/page/base.js"></script>
    <script src="js/page/datalist.js"></script>
</body>
</html>