<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>数据统计-营销线索平台</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/combo.select.min.css">
    <link rel="stylesheet" href="css/page/statistics.css?v=18111ae3">
</head>
<body>
    <div class="containers statistics" id="statistics">
        <div class="header">
            <div class="logo">
                <img src="images/logo.png"/>
                <div class="logo-title">营销线索管理平台</div>
            </div>
            <div class="logout" onclick="logout()">
                <a href="javascript:void(0)" title="退出登录"></a>
            </div>
            <div class="user-setting"  v-if="!isHiddenDataMenu">
                <span class="icon-setting" title="个人设置"></span>
                <div class="user-setting-list">
                    <ul>
                        <li>
                            <a href="history.html">
                                <span class="user-success"></span>
                                <span class="user-font">推送成功</span>
                            </a>
                        </li>
                        <li>
                            <a href="history_failed.html">
                                <span class="user-failed"></span>
                                <span class="user-font">推送失败</span>
                            </a>
                        </li>
                        <li>
                            <a href="setting.html">
                                <span class="user-password"></span>
                                <span class="user-font">密码修改</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user-setting" v-if="isHiddenDataMenu" onclick="window.location.href='setting.html'">
                <span class="icon-setting" title="个人设置"></span>
            </div>
            <div class="user-info">
                <div class="user-info-inner">
                    <span class="user-icon"></span>
                    <span class="user-name">{{username}}</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="main">
                <div class="main-search">
                    <div class="search-top">
                        <h2>查询条件</h2>
                    </div>
                    <div class="search-bottom">
                        <div class="input-group-inline">
                            <span>查询时间段：</span>
                                <span>
                                    <input type="text" v-bind:value="startDate" class="input-com" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'end-date\')}'})" id="start-date" disabled="disabled">
                                </span>
                            <span>&nbsp;-&nbsp;</span>
                                <span>
                                    <input type="text" v-bind:value="endDate" class="input-com" onclick="WdatePicker({minDate:'#F{$dp.$D(\'start-date\')}',maxDate:'%y'})" id="end-date" disabled="disabled">
                                </span>
                        </div>
                        <div class="input-group-inline">
                            <span>团队名称：</span>
                                <span>
                                    <select class="select-box input-com" id="department-list">
                                        <option selected value="0">全部</option>
                                        <option v-for="(value,key) in departmentList" v-bind:value="value.id">{{value.name}}</option>
                                    </select>
                                </span>
                        </div>
                        <div class="input-group-inline" style="display: none;">
                            <span>成员名称：</span>
                                <span>
                                    <select class="select-box input-com" id="user-list">
                                        <option value="0">全部</option>
                                        <option v-for="(value,key) in userList" v-bind:value="value.id">{{value.name}}</option>
                                    </select>
                                </span>
                        </div>
                        <div class="input-group-inline">
                            <button type="button" class="btn-com" v-on:click="Search()">查询</button>
                        </div>
                    </div>
                </div>
                <!--综合统计-->
                <div class="main-msg" v-bind:class={"hidden":!sTotalList}>
                    <div class="pull-left"><span class="front-blue">{{startDate}}</span>至<span class="front-blue">{{endDate}}</span>周期内整体统计数据如下：</div>
                </div>
                <div class="main-data" v-bind:class={"hidden":!sTotalList}>
                    <div class="data-table">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <td style="width: 16%;">联系人总数量</td>
                                <td style="width: 16%;">系统推送数量</td>
                                <td style="width: 16%;">其他渠道数量</td>
                                <td style="width: 13%;">总沟通次数</td>
                                <td style="width: 13%;">总沟通时长</td>
                                <td style="width: 13%;">平均时长</td>
                                <td style="width: 13%;">接通率</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="sTotalList!=null">
                                <td>{{sTotalList.totalCustomer}}</td>
                                <td>{{sTotalList.pushCount}}</td>
                                <td>{{sTotalList.noPushCount}}</td>
                                <td>{{sTotalList.totalCallCount}}</td>
                                <td>{{sTotalList.totalCallTimeF}}秒</td>
                                <td>{{sTotalList.MeantimeLength}}秒</td>
                                <td>{{sTotalList.ConnectionRate}}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--部门统计-->
                <div class="main-msg" v-bind:class={"hidden":!sDepartmentList}>
                    <div class="pull-left"><span class="front-blue">{{startDate}}</span>至<span class="front-blue">{{endDate}}</span>周期内部门统计数据如下：</div>
                </div>
                <div class="main-data" v-bind:class={"hidden":!sDepartmentList}>
                    <div class="data-table1">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <td style="width: 5%;">#</td>
                                <td style="width: 10%;">团队</td>
                                <td style="width: 15%;">联系人数量<span class="sorts"><span class="s-top" v-on:click="OrderBy('dept','totalCustomer',true)"></span><span class="s-bottom" v-on:click="OrderBy('dept','totalCustomer',false)"></span></span></td>
                                <td style="width: 14%;">系统渠道使用量<span class="sorts"><span class="s-top" v-on:click="OrderBy('dept','pushCount',true)"></span><span class="s-bottom" v-on:click="OrderBy('dept','pushCount',false)"></span></span></td>
                                <td style="width: 14%;">其他渠道使用量<span class="sorts"><span class="s-top" v-on:click="OrderBy('dept','noPushCount',true)"></span><span class="s-bottom" v-on:click="OrderBy('dept','noPushCount',false)"></span></span></td>
                                <td style="width: 10%;">沟通次数<span class="sorts"><span class="s-top" v-on:click="OrderBy('dept','totalCallCount',true)"></span><span class="s-bottom" v-on:click="OrderBy('dept','totalCallCount',false)"></span></span></td>
                                <td style="width: 12%;">沟通总时长<span class="sorts"><span class="s-top" v-on:click="OrderBy('dept','totalCallTime',true)"></span><span class="s-bottom" v-on:click="OrderBy('dept','totalCallTime',false)"></span></span></td>
                                <td style="width: 10%;">平均时长<span class="sorts"><span class="s-top" v-on:click="OrderBy('dept','MeantimeLength',true)"></span><span class="s-bottom" v-on:click="OrderBy('dept','MeantimeLength',false)"></span></span></td>
                                <td style="width: 10%;">接通率<span class="sorts"><span class="s-top" v-on:click="OrderBy('dept','ConnectionRate',true)"></span><span class="s-bottom" v-on:click="OrderBy('dept','ConnectionRate',false)"></span></span></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(value,key) in sDepartmentList">
                                <td v-if="key<5">{{key+1}}</td>
                                <td v-if="key<5">{{value.deptName}}</td>
                                <td v-if="key<5">{{value.totalCustomer}}</td>
                                <td v-if="key<5">{{value.pushCount}}</td>
                                <td v-if="key<5">{{value.noPushCount}}</td>
                                <td v-if="key<5">{{value.totalCallCount}}</td>
                                <td v-if="key<5">{{value.totalCallTimeF}}秒</td>
                                <td v-if="key<5">{{value.MeantimeLength}}秒</td>
                                <td v-if="key<5">{{value.ConnectionRate}}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--成员统计-->
                <div class="main-msg" v-bind:class={"hidden":!sUserList}>
                    <div class="pull-left"><span class="front-blue">{{startDate}}</span>至<span class="front-blue">{{endDate}}</span>周期内成员统计数据如下：</div>
                </div>
                <div class="main-data bottom-40" v-bind:class={"hidden":!sUserList}>
                    <div class="data-table1">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                            <tr>
                                <td style="width: 5%;">#</td>
                                <td style="width: 10%;">团队</td>
                                <td style="width: 10%;">成员</td>
                                <td style="width: 11%;">联系人数量<span class="sorts"><span class="s-top" v-on:click="OrderBy('user','totalCustomer',true)"></span><span class="s-bottom" v-on:click="OrderBy('user','totalCustomer',false)"></span></span></td>
                                <td style="width: 12%;">系统渠道使用量<span class="sorts"><span class="s-top" v-on:click="OrderBy('user','pushCount',true)"></span><span class="s-bottom" v-on:click="OrderBy('user','pushCount',false)"></span></span></td>
                                <td style="width: 12%;">其他渠道使用量<span class="sorts"><span class="s-top" v-on:click="OrderBy('user','noPushCount',true)"></span><span class="s-bottom" v-on:click="OrderBy('user','noPushCount',false)"></span></span></td>
                                <td style="width: 11%;">沟通次数<span class="sorts"><span class="s-top" v-on:click="OrderBy('user','totalCallCount',true)"></span><span class="s-bottom" v-on:click="OrderBy('user','totalCallCount',false)"></span></span></td>
                                <td style="width: 13%;">沟通总时长<span class="sorts"><span class="s-top" v-on:click="OrderBy('user','totalCallTime',true)"></span><span class="s-bottom" v-on:click="OrderBy('user','totalCallTime',false)"></span></span></td>
                                <td style="width: 8%;">平均时长<span class="sorts"><span class="s-top" v-on:click="OrderBy('user','MeantimeLength',true)"></span><span class="s-bottom" v-on:click="OrderBy('user','MeantimeLength',false)"></span></span></td>
                                <td style="width: 8%;">接通率<span class="sorts"><span class="s-top" v-on:click="OrderBy('user','ConnectionRate',true)"></span><span class="s-bottom" v-on:click="OrderBy('user','ConnectionRate',false)"></span></span></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(value,key) in sUserList">
                                <td v-if="key<10">{{key+1}}</td>
                                <td v-if="key<10">{{value.deptName}}</td>
                                <td v-if="key<10">{{value.userName}}</td>
                                <td v-if="key<10">{{value.totalCustomer}}</td>
                                <td v-if="key<10">{{value.pushCount}}</td>
                                <td v-if="key<10">{{value.noPushCount}}</td>
                                <td v-if="key<10">{{value.totalCallCount}}</td>
                                <td v-if="key<10">{{value.totalCallTimeF}}秒</td>
                                <td v-if="key<10">{{value.MeantimeLength}}秒</td>
                                <td v-if="key<10">{{value.ConnectionRate}}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="aside">
                <ul>
                    <li v-if="isHiddenViewMenu==false"><a href="dataview.html"><span class="dataview"></span><p>数据视图</p></a></li>
                    <li class="current" v-if="isHiddenStatisticsMenu==false"><a href="statistics.html"><span class="static"></span><p>数据统计</p></a></li>
                    <li v-if="isHiddenDataMenu==false"><a href="datalist.html"><span class="data"></span><p>检索与推送</p></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--javascript-->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/json2.min.js"></script>
    <script src="js/combo.select.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/datepicker/WdatePicker.js"></script>
    <script src="js/page/base.js?v=18111ae3"></script>
    <script src="js/page/statistics.js?v=18111ae3"></script>
</body>
</html>